<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onlone Choching center Narnol</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

        <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">

</head>

<body>

    <nav id="navbar">
        <div id="logo">
            <img src="online-school-logo-learning-logo-design-vector_567288-21.avif" alt="my logo images">
        </div>
        <ul>
            <li class="item"> <a href="#"> Home</li>
            <li class="item"> <a href="#"> About</li>
            <li class="item"> <a href="#"> Online Classes</li>
            <li class="item"> <a href="#"> Contact</li>
            <input class="text" placeholder="Search text">
            <span class="material-symbols-outlined">
                search
            </span>
        </ul>
    </nav>

    <section id="home">
        <h1 class="h-primary"> Welcome to IT Course Training & Coaching </h1>

        <p><b>DevOps : </b> DevOps is a set of practices that combines software development (Dev) and IT operations
            (Ops).The main goals
            of DevOps are to shorten the system development life cycle, provide continuous
            delivery with high software quality, And foster a culture of collaboration between development and
            operations teams. Here are some key aspects ofDevOps:</p>


    </section><br>


    <h1 class="h-primary_center"> Our Courses</h1>
    <section id="container">
        <div class="box">
            <img src="linux-7207969.jpg" alt="Linux imag">
            <h2 class="h-secondry center"> Linux </h2>
            <p><b> LINUX :</b>Linux is an open-source operating system (OS) that is based on the Unix operating system.
                It was created by Linus Torvalds in 1991 as a free and open alternative to proprietary Unix systems.
                Since then, it has grown into a robust, versatile, and widely used OS. Here are some key aspects of
                Linux.!</p>

        </div>
        <div class="box">
            <img src="woman-5218160.jpg" alt="AWS imag">
            <h2 class="h-secondry center"> AWS </h2>
            <p> <b>AWS : </b>Amazon Web Services (AWS) is a comprehensive and widely adopted cloud computing platform
                provided by Amazon. It offers a wide range of cloud-based services and products, which can be used
                individually or combined to build and deploy applications and services. Here are the key aspects of AWS:
            </p>
        </div>
        <div class="box">
            <img src="devops-3148408.jpg" alt="Devops imag">
            <h2 class="h-secondry center"> DevOps</h2>
            <p><b>Devops :</b>DevOps is a set of practices and cultural philosophies that aim to improve collaboration
                between the development (Dev) and operations (Ops) teams. It emphasizes automation, continuous
                integration, and continuous delivery (CI/CD), which helps organizations deliver applications and
                services at high velocity. Here’s a detailed overview:</p>
        </div>

    </section>

</body>

</html>

</section>

<section id="client-section">
    <h1 class="h-primary_center"> Our Client</h1>
    <div id="clients">
        <div class="client-item">
            <img src="css3-1841590 copy.png" alt="css">
        </div>
    </div>
    <div id="clients">
        <div class="client-item">
            <img src="html5-1841458.png" alt="html">
        </div>
    </div>
    <div id="clients">
        <div class="client-item">
            <img src="penguin-153405.svg" alt="ubuntu">
        </div>
    </div>
    <div id="clients">
        <div class="client-item">
            <img src="tux-293844.svg" alt="linux">
        </div>
    </div>
</section>

<section id="contact">
    <h1 class="h-primary_center"> Contact US</h1>
    <div id="contact-box">
        <form action="">
            <div class="from-group">
                <label for="name"> Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name ">
            </div>
        </form>
    </div>
    <div id="contact-box">
        <form action="">
            <div class="from-group">
                <label for="name"> Last Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your Last Name">
            </div>
        </form>
    </div>
    <div id="contact-box">
        <form action="">
            <div class="from-group">
                <label for="name"> Email</label>
                <input type="text" name="name" id="name" placeholder="Enter your Email ">
            </div>
        </form>
    </div>
    <div id="contact-box">
        <form action="">
            <div class="from-group">
                <label for="name"> Address</label>
                <input type="text" name="name" id="name" placeholder="Enter your Address">
            </div>
        </form>
    </div>
    </div>
    <div id="contact-box">
                <button class="btn" aria-placeholder="button"> Submit</button>
            </div>
        </form>
    </div>
    </div>

</section>



<footer>
    <div class="center">
        Copyright $copy :www.awsinsitute.com 
    </div>
</footer>























</body>

</html>